<link rel="stylesheet" href="static/css/accounts.css">
<body style="background-color:#2c3e50">

<center >{% block breadcrumb %}
  <li class="breadcrumb-item active" style="font-size:40px;color:#00a7ff">Change Password</li>
{% endblock %}
 <div style="border:2px solid #00a7ff ;width:300px;height:350px;margin-top:50px;font-size:20px;background-color:white">


{% block content %}

<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}

{% if form.non_field_errors%}
<div class="alert alert-danger" role="alerts">
{%for error in form.non_field_errors%}
<p {%if forloop.last%} class="mb-0" {%endif%}>{{error}}</p>
{%endfor%}
</div>
{%endif%}
             {% for field in form %}
              <p>
               {{ field.label_tag }}<br>
               {{ field }}
              {% if field.help_text %}

               {% endif %}
                {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
               </p>
             {% endfor %}
        <button type="submit" class="btn btn-success">Change password</button>
      </form>
    </div>
  </div>
</div>
</center >
{% endblock %}</body>